body {
font-family: 'Inter', 'Poppins', sans-serif;
margin:0;
background: linear-gradient(135deg,#020617,#020617);
color:#e5e7eb;
}

.container{
width:95%;
margin:auto;
padding:20px;
}

h1{
text-align:center;
font-family:'Poppins';
font-weight:600;
margin-bottom:20px;
}

.topbar{
display:flex;
gap:10px;
justify-content:center;
margin-bottom:20px;
}

.topbar input{
padding:10px;
width:220px;
border-radius:8px;
border:none;
outline:none;
}

button{
padding:10px 16px;
border:none;
border-radius:10px;
cursor:pointer;
font-weight:600;
background:linear-gradient(45deg,#22c55e,#16a34a);
color:white;
transition:.3s;
}

button:hover{
transform:scale(1.05);
}

.panels{
display:grid;
grid-template-columns:1fr auto 1fr;
gap:20px;
align-items:stretch;   /* makes all 3 columns equal height */
}

.panel textarea{
width:100%;
height:320px;
background:#020617;
color:#e5e7eb;
border:1px solid #1f2937;
border-radius:12px;
padding:12px;
font-family:monospace;
}

.compare-center{
display:flex;
align-items:center;    /* vertical center */
justify-content:center;/* horizontal center */
height:100%;           /* take full height between Day1 & Day2 */
}
.compare-btn{
font-size:18px;
padding:18px 40px;
border-radius:12px;
background:linear-gradient(45deg,#22c55e,#4ade80);
}

.table-card{
margin-top:40px;
background:#020617;
padding:20px;
border-radius:18px;
}

table{
width:100%;
border-collapse:collapse;
overflow:hidden;
border-radius:14px;
}

th{
background:#020617;
padding:14px;
font-family:'Poppins';
}

td{
padding:12px;
border-bottom:1px solid #1f2937;
text-align:center;
}

tr:hover{
background:rgba(34,197,94,0.08);
}

.pos{color:#22c55e;font-weight:600;}
.neg{color:#ef4444;font-weight:600;}
.zero{color:#9ca3af;}

.chart-card{
margin-top:40px;
background:#020617;
padding:20px;
border-radius:18px;
}

/* LIGHT MODE */
.light{
background:#f1f5f9;
color:#020617;
}
